@import "../../../../Sass/mixin";
@import "../../../../Sass/variables";

.setP_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    // background-color: aqua;
  background-image: url("../../../../assets/BgImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: $black;
    text-align: center;
    font-family: Poppins;
    font-size: 3.5rem;
    font-weight: 700;
    cursor: pointer;
    span {
      font-weight: 400;
    }
  }
  &_content {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > *:not(:first-child) {
      margin-top: 2rem;
    }
    h1 {
      color: rgb(65, 64, 64);
      text-align: center;
      font-family: Poppins;
      font-size: 3rem;
      font-weight: 700;
    }

    &_innercontent {
      width: 40rem;
      padding: 2rem 2rem;
      border-radius: 0.8rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &_btn {
        width: 100%;
        padding: 1rem;
        margin-top: 3rem;
        border-radius: 3rem;
        border: none;
        background-color: $lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        h1 {
          color: white;
          font-size: 2rem;
        }
        & > *:not(:first-child) {
          margin-left: 1rem;
          color: white;
          font-size: 2rem;
        }
      }
      p {
        color: $black;
        text-align: center;
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        margin-top: 2rem;
      }
      span {
        color: gray;
        text-align: center;
        font-family: Poppins;
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 500;
      }
    }
  }
}
