$logocolor: linear-gradient(185.89deg, #b85d70 0.55%, #ec9d4f 100%);

$blue: #005fab;
$lightblue: #0073bd;
$black: #000;
$skyblue: rgba(60, 166, 255, 0.25);
$gray: rgba(128, 128, 128, 0.25);

// Spacing
$spacing-unit: 0.4rem;
$padding: $spacing-unit * 3 $spacing-unit * 6;
